node_modules/
.next/
.env.local
data/auth.json
data/port-forwards.json
data/challenges.json
data/apps.json
data/terminal-sessions/
.webui_secret_key
guacamole-config/user-mapping.xml
shared/
recordings/
logs-*.txt
bun.lockb
*.tsbuildinfo
next-env.d.ts
